play.http.secret.key = "{{ lookup('password', '/dev/null length=64 chars=ascii_letters') }}"
cluster.name = "thehive"
# Disable SSL for TheHive (run in HTTP mode only)
play.server.https.keyStore.path = ""
play.server.https.keyStore.password = ""
play.server.https.keyStore.type = ""
http.port = 9000
search.uri = "http://localhost:9200" 