server.host: "0.0.0.0"
server.port: 5601
elasticsearch.hosts: ["http://localhost:9200"]
# No authentication or SSL required

server.ssl.enabled: true
server.ssl.certificate: /etc/kibana/certs/kibana.crt
server.ssl.key: /etc/kibana/certs/kibana.key

logging.appenders:
  console:
    type: console
    layout:
      type: json
logging.loggers:
  - name: root
    level: info
    appenders: [console]

xpack.security.encryptionKey: "{{ 'changeme' | password_hash('sha512') }}"
xpack.encryptedSavedObjects.encryptionKey: "{{ ('changeme' | password_hash('sha512')) | truncate(32, True, '') }}" 