cluster.name: {{ es_cluster_name | default("edr-cluster") }}
node.name: {{ ansible_hostname }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
http.port: 9200
discovery.type: single-node
xpack.security.enabled: true

# HTTP SSL Configuration
xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.key: /etc/elasticsearch/certs/elasticsearch.key
xpack.security.http.ssl.certificate: /etc/elasticsearch/certs/elasticsearch.crt
xpack.security.http.ssl.certificate_authorities: [ "/etc/elasticsearch/certs/ca.crt" ]

# Transport SSL Configuration
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.keystore.path: /etc/elasticsearch/certs/elasticsearch.p12
xpack.security.transport.ssl.truststore.path: /etc/elasticsearch/certs/elasticsearch.p12
xpack.security.transport.ssl.keystore.secure_password: elasticsearch
xpack.security.transport.ssl.truststore.secure_password: elasticsearch 