[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca
prompt             = no

[ req_distinguished_name ]
CN = {{ ansible_fqdn | default(ansible_hostname) }}

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = {{ ansible_fqdn | default(ansible_hostname) }}
IP.1 = 127.0.0.1
IP.2 = {{ ansible_default_ipv4.address }}
{% if ansible_all_ipv4_addresses is defined %}
{% for ip in ansible_all_ipv4_addresses %}
IP.{{ loop.index + 2 }} = {{ ip }}
{% endfor %}
{% endif %} 